/* GLOBAL STYLES */
body {
  background-color: #000 !important;
  display: flex;
  justify-content: center;
}

/* DEMO-SPECIFIC STYLES */
.typewriter{
  margin: 20% 0;
}
.typewriter img{
  max-width: 200px;
  margin-left: 23%;
}
.typewriter h2 {
  color: #fff;
  font-size: 1.6em;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid rgb(250, 186, 9); /* The typwriter cursor */
  white-space: nowrap;  /*Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  -webkit-animation: 
    typing 2s steps(25, end),
    blink-caret .5s step-end infinite;
          animation: 
    typing 2s steps(25, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@-webkit-keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}