
<div class="box-header with-border">
    <button class="btn btn-primary" data-toggle="modal"
        data-target="#ModalAgregarActividad">
        <i class="fa fa-plus"></i> Agregar Actividad
    </button>
</div>


<table id="listado" class="table table-hover table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Nombre de la actividad</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!--listado-->
      <tr>
          <td class="text-center">$actividad_id</td>
          <td class="text-center">$denominacion</td>
          <td class="text-center">
          	<div class="btn-group">
          	  <a href="/actividad/editar/$actividad_id"class="btn
          	    btn-warning" title="Editar actividad"><i class="fa fa-pencil"></i></a>
          	  <a href="/actividad/eliminar/$actividad_id" class="btn btn-danger"
          	    title="Eliminar actividad" onclick="return confirm('¿Estas seguro?')">
          	    <i class="fa fa-times"></i>
          	  </a>
          	</div>
          </td>
      </tr>
      <!--listado-->
    </tbody>
</table>

<!--Modal agregar actividad-->
<div class="modal fade" role="dialog" id="ModalAgregarActividad">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/actividad/guardar" method="POST">
                <div class="modal-header">
                    <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Actividad</h4>
                </div>

                <div class="modal- body">
                    <div class="box-body">
                        <!--Input para la denominacion de la actividad-->
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa
                                        fa-suitcase"></i></span>
                                <input class="form-control input-lg"
                                       type="text" name="denominacion"
                                       placeholder="Agregue una descripción" required>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Salir</button>
                  <button type="submit" class="btn btn-primary"> Agregar Actividad</button>
                </div>
            </form>
        </div>
    </div>
</div>
  
  <script type="text/javascript">
    $(document).ready(function() {
      $('#listado').dataTable({
        dom: 'Bfrtip',
        buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
        language: {
          url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Spanish.json'
        }
      });
    });
  </script>
