<div class="box-header with-border">
    <a class="btn btn-warning" href="/tarea/listar"><i class="fa fa-list"></i>Listar tareas</a>
</div>


<div class="box box-default">
    <div class="box-header with-border">
      <p>Todos los campos marcados con <span style="color:red">*</span> son
        obligatorios</p>
    </div>
    <!-- /.box-header -->
    <form class="form-horizontal" action="/tarea/guardar" method="post"
      autocomplete="on" enctype="multipart/form-data">
      <div class="box-body">
          <div class="row">
              <div class="col-md-8">

                <!--Titulo de la tarea-->
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="titulo">Titulo</label>
                  <div class="input-group col-sm-4">
                    <!-- <div class="input-group-addon"> -->
                    <!--   <i class="fa fa-tasks"></i> -->
                    <!-- </div> -->
                    <input name="titulo" type="text" class="form-control
                    pull-right" placeholder="Titulo de la tarea">
                  </div>
                </div>
                <!--Termina titulo de la tarea-->

                <!-- Listado  de empresas-->
                <div class="form-group required">
                  <label for="empresa" class="col-sm-2 control-label">Empresas:</label>
                  <div class="input-group col-sm-3">
                    <select class="form-control" name="empresa" id="empresa" data-live-search="true">
                      <!--empresas-->
                      <option value="$empresa_id">$denominacion
                      </option>
                      <!--empresas-->
                    </select>
                  </div>
                </div>
                <!-- termina listado de empresas-->

                <!-- Listado de actividades-->
                <div class="form-group required">
                  <label for="actividad" class="col-sm-2 control-label">Actividades:</label>
                  <div class="input-group col-sm-3">
                    <select class="form-control" name="actividad" id="actividad" data-live-search="true">
                      <!--actividades-->
                      <option value="$actividad_id">$denominacion
                      </option>
                      <!--actividades-->
                    </select>
                  </div>
                </div>
                <!-- termina listado de actividades-->
                
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="">Hora de inicio y fin</label>
                  <div class="input-group col-sm-4">
                    <div class="input-group-addon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                    <input name="hora" type="text" class="form-control pull-right" id="reservationtime">
                  </div>
                </div>


                <!-- inicia text area del articulo-->
                <div class="form-group">
                    <label for="descripcion" class="col-sm-2
                      control-label">Describe la tarea:</label> 
                    <div class="input-group col-sm-10">
                      <textarea id="editor1" name="descripcion" rows="10"
                        cols="80">
                      </textarea>
                    </div>
                </div>
                <!-- termina campo de descripcion-->

              </div>
              
              <div class="form-group">
                  <div class="col-sm-5 col-sm-offset-1">
                      <button type="submit" class="btn btn-primary"><i
                          class="fa fa-save"></i> Guardar tarea</button>
                  </div>
              </div>
          </div>
          <!-- /.row -->
      </div>
    </form>
    <!-- /.box-body -->
    <div class="box-footer">
        Asegurese de haber seleccionado las opciones correctas
    </div>
</div>



<script>
  $(function () {

    //Date range picker with time picker
    $('#reservationtime').daterangepicker({ 
      timePicker: true, 
      timePicker24Hour: true,
      timePickerIncrement: 1, 
      locale: { format: 'YYYY/MM/DD hh:mm:ss' }})

    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })

    //Timepicker
    $('.timepicker').timepicker({
      showInputs: false
    })
  })
</script>

<script>
  $(function () {
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('editor1')
    //bootstrap WYSIHTML5 - text editor
    $('.textarea').wysihtml5()
  })
</script>
