
<div class="box-header with-border">
    <button class="btn btn-primary" data-toggle="modal"
        data-target="#ModalAgregarEmpresa">
        <i class="fa fa-plus"></i> Agregar Empresa
    </button>
</div>


<table id="listado" class="table table-hover table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Nombre de la empresa</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!--listado-->
      <tr>
          <td class="text-center">$empresa_id</td>
          <td class="text-center">$denominacion</td>
          <td class="text-center">
          	<div class="btn-group">
          	  <a href="/empresa/editar/$empresa_id" class="btn btn-warning"
          	          title="Editar evento"><i class="fa fa-pencil"></i></a>
          	  <a href="/empresa/eliminar/$empresa_id" class="btn btn-danger" title="Eliminar evento?" onclick="return confirm('¿Estas seguro?')"><i class="fa
          	      fa-times"></i></a>
          	</div>
          </td>
      </tr>
      <!--listado-->
    </tbody>
</table>

<!--Modal agregar empresa-->
<div class="modal fade" role="dialog" id="ModalAgregarEmpresa">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/empresa/guardar" method="POST">
                <div class="modal-header">
                    <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Empresa</h4>
                </div>

                <div class="modal- body">
                    <div class="box-body">
                        <!--Input para la denominacion de la empresa-->
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa
                                        fa-suitcase"></i></span>
                                <input class="form-control input-lg"
                                       type="text" name="denominacion"
                                       placeholder="Telefonica" required>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Salir</button>
                  <button type="submit" class="btn btn-primary"> Agregar Empresa</button>
                </div>
            </form>
        </div>
    </div>
</div>
  
  <script type="text/javascript">
    $(document).ready(function() {
      $('#listado').dataTable({
        dom: 'Bfrtip',
        buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
        language: {
          url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Spanish.json'
        }
      });
    });
  </script>
