<!--errores-->
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    $errores
</div>
<!--errores-->


<div class="box-header with-border">
    <button class="btn btn-primary" data-toggle="modal"
        data-target="#ModalAgregarUsuario">
        <i class="fa fa-plus"></i> Agregar usuario
    </button>
</div>


<table id="listado" class="table table-hover table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th class="text-center">Nombre</th>
        <th class="text-center">Correo</th>
        <th class="text-center">Nivel</th>
        <!-- <th class="text-center">Acciones</th> -->
      </tr>
    </thead>
    <tbody>
      <!--listado-->
      <tr>
          <td class="text-center">$denominacion</td>
          <td class="text-center"><a href="mailto:$email">$email</a></td>
          <td class="text-center">$nivel</td>
          <!-- <td class="text-center">
          	<div class="btn-group">
          	  <button class="btn btn-warning"><i class="fa fa-pencil"></i></button>
          	  <button class="btn btn-danger"><i class="fa fa-times"></i></button>
          	</div>
          </td> -->
      </tr>
      <!--listado-->
    </tbody>
</table>

<!--Modal agregar usuario-->
<div class="modal fade" role="dialog" id="ModalAgregarUsuario">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/usuario/guardar" method="POST">
                <div class="modal-header">
                    <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar usuario</h4>
                </div>

                <div class="modal- body">
                    <div class="box-body">
                        <!--Input para el nombre de usuario-->
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa
                                        fa-user-secret"></i></span>
                                <input class="form-control input-lg"
                                       type="text" name="usuario"
                                       placeholder="Ejemplo Usu4r10" required>
                            </div>
                        </div>
                        <!--Input para el nombre a mostrar-->
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa
                                        fa-user"></i></span>
                                <input class="form-control input-lg"
                                       type="text" name="denominacion"
                                       placeholder="Ellery Eng" required>
                            </div>
                        </div>
                        <!--Input para la contraseña-->
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon">
                            	<i class="fa fa-lock"></i></span>
                            	<input class="form-control input-lg" type="password" 
                            				 name="contrasena" placeholder="Ingresa tu contraseña" required>
                          </div>
                        </div>
                        <!--Input para el correo-->
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa
                                        fa-envelope"></i></span>
                                <input class="form-control input-lg" type="email"
                                name="email" placeholder="Direccion de correo" required>
                            </div>
                        </div>
                        <!--Input para el nivel-->
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa 
                            fa-users"></i></span>
                                <select class="form-control input-lg" name="nivel">
                                    <option value="1">Administrador</option>
                                    <option value="99">Editor</option>
                                </select>
                            </div>
                        </div>

                     </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Salir</button>
                  <button type="submit" class="btn btn-primary"> Agregar usuario</button>
                </div>
            </form>
        </div>
    </div>
</div>
  
  <script type="text/javascript">
    $(document).ready(function() {
      $('#listado').dataTable({
        dom: 'Bfrtip',
        buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
        language: {
          url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Spanish.json'
        }
      });
    });
  </script>
