
<div class="box box-default">
    <div class="box-header with-border">
      <p>Todos los campos marcados con <span style="color:red">*</span> son
        obligatorios</p>
    </div>


    <form class="form-horizontal" action="/empresa/actualizar" method="post"
      autocomplete="on" enctype="multipart/form-data">
      <div class="box-body">
          <div class="row">
              <div class="col-md-8">

                <div class="form-group required">
                  <input type="hidden" name="empresa_id" value="$empresa_id">
                  <label class="control-label col-sm-3" for="nombre">Nombre:</label>
                  <div class="input-group col-sm-4">
                    <input name="denominacion" type="text" class="form-control"
                    id="denominacion" value="$denominacion" required>
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-6">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar cambios</button>
                    <a href="/empresa/agregar" class="btn btn-success">
                      <i class="fa fa-arrow-left"></i> Ver listado de empresas
                    </a>
                  </div>
                </div>
              </div>
          </div>
          <!-- /.row -->
      </div>
    </form>
    <div class="box-footer">
        Asegurese de haber escrito correctamente el nombre de la empresa
    </div>
</div>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
</script>
