
<table id="listado" class="table table-hover table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Titulo</th>
        <th class="text-center">Empresa</th>
        <th class="text-center">Actividad</th>
        <th class="text-center">Hora inicial</th>
        <th class="text-center">Horal Final</th>
        <th class="text-center">Usuario</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!--tareas-->
      <tr>
          <td class="text-center">$tarea_id</td>
          <td class="text-center">$titulo</td>
          <td class="text-center">$empresa</td>
          <td class="text-center">$actividad</td>
          <td class="text-center">$hora_inicio</td>
          <td class="text-center">$hora_fin</td>
          <td class="text-center">$usuario</td>
          <td class="text-center">
          	<div class="btn-group">
          	  <a href="/tarea/ver/$tarea_id" class="btn btn-info"
          	  title="Ver tarea"><i class="fa fa-eye"></i></a>
          	</div>
          	<div class="btn-group">
          	  <a href="/tarea/eliminar/$tarea_id" class="btn btn-danger"
          	  title="Eliminar tarea?" onclick="return confirm('¿Estas seguro?')"><i class="fa
          	      fa-times"></i></a>
          	</div>
          </td>
      </tr>
      <!--tareas-->
    </tbody>
</table>

<!--Modal agregar idioma-->
  <script type="text/javascript">
    $(document).ready(function() {
      $('#listado').dataTable({
        dom: 'Bfrtip',
        buttons: ['copy', 'csv', 'excel', 'pdf'],
        language: {
          url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Spanish.json'
        }
      });
    });
  </script>
