    <section class="content">
      <div class="error-page">
        <h3 class="headline text-blue">
          (ᵕ̣̣̣̣̣̣﹏ᵕ̣̣̣̣̣̣)
        </h3>

        <div class="error-content">
          <h3><i class="fa fa-warning text-blue"></i> Oops! Acceso restringido.</h3>

          <p>
            Tu usuario no puede ingresar a esta sección
          </p>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <a href="/" class="btn btn-info"><i class="fa fa-home"></i> Vuelve al inicio</a>
      </div>
    </section>
