<div class="box-header with-border">
    <a class="btn btn-success" href="/tarea/agregar"><i class="fa
        fa-plus"></i>Agregar tarea</a>
</div>
<section class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="info-box bg-yellow">
        <span class="info-box-icon">
          <i class="ion ion-ios-pricetag-outline"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-number">Titulo</span>
          $titulo
        </div>
      </div>
      <div class="info-box bg-green">
        <span class="info-box-icon">
          <i class="fa fa-calendar"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-number">Horas</span>
          Inicial: $hora_inicio<br>
          Final: $hora_fin
        </div>
      </div>
      <div class="info-box bg-red">
        <span class="info-box-icon">
          <i class="fa fa-user"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-number">Usuario</span>
          $usuario <br>
            $email
        </div>
      </div>
      <div class="info-box bg-aqua">
        <span class="info-box-icon">
          <i class="fa fa-superpowers"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-number">Empresa y actividad</span>
          Empresa: $empresa <br>
          Actividad: $actividad
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Descripción de la tarea</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
          <p style="font-size:17px; margin-top:10px">$tarea</p>
        </div>
      </div>
    </div>

  </div>
</section>
